*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: 400;}
a{text-decoration: none;color: inherit;}
ul,ol{list-style: none;}


html{
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/* header */
header{
    width: 100%;
    height: 95px;
    position: fixed;
    left:0; top: 0;
    overflow: hidden;
    transition: all 0.5s ease 0s ;
    z-index: 100;
    color: white;
    font-weight: 500;
}
header:hover{
    height: 445px;
    background: rgba(0, 0, 0,0.75);
}
header::after{
    content: "";
    position: absolute;
    left: 0;top: 95px;
    width: 100%;
    height: 1px;
    background: #999;
}
.innerHeader{
    width: 1620px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoArea{
    width: 200px;
    height: 100%;
    padding-left: 26px;
    }

.logoArea a{
    position: relative;
    width: 200px;
    height: 95px;
    display: flex;
    align-items: center;
}
.logoArea>h3>a>img{
    height: 30px;
    width: auto;
    position: absolute;
    right:0;top: 50%;
    transform: translateY(-50%);
}

.gnb{width: 740px;}
.gnb>ul{
    display: flex;
    height: 95px;
}
.gnb>ul>li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}
.gnb>ul>li>ul{
    position: absolute;
    left: 0; top: 95px;
    width: 100%;
    padding-top: 15px;
}
.gnb>ul>li>ul>li{
    padding: 10px 0;
    color: #999;
}

.language{
    width: 200px;
}
.language>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
}
.language>ul>li{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
.language select{
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.language>ul>li>select>option{
    background: rgba(0, 0, 0,0.75);
    padding: 4px 0;
}
.language>ul>li>a>img{
    height: 20px;
    width: auto;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}


/* main */
main{
    width: 100%;
   margin: 0 auto;
}
.bannerSlide{
    width: 100%;
    height: 969px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.bannerSlide::after{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;height: 100%;
    background: black;
    opacity: 0.45;
}
.b_images{
    width: 500%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);    
    transition: all 0.5s ease 0s;
}
.b_images>li{
    flex: 1;
    height: 969px;
    position: relative;
}
.b_images>li>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0; top: 0;
}
.bannerSlide .flotingTxt{
    width: 100%;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
}
.flotingTxt>h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 72px;
    font-weight: 500;
    color: #2af598;
}
.flotingTxt>a{
    font-size: 24px;
    color: white;
}

.introduce{
    width: 1620px;
    height: 969px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.intro_left{
    width: 50%;
    height: 100%;
    position: relative;
}
.intro_left>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 500;
    position: absolute;
    left: 0;top: 140px;
    line-height: 90px;
}
.intro_left>p{
    font-size: 24px;
    position: absolute;
    left: 0;top: 340px;
}
.intro_left>a{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 0;top: 390px;
    padding-right: 40px;
    background: url(../../img/main/logo_etc/viewmore.png) no-repeat 100% 50%;
    color: #999;
}
.intro_right{
    width: 50%;
    height: 100%;
    position: relative;
}
.intro_right>img{
    position: absolute;
    right: 0;bottom: 140px;
}
.intro_right>h3{
    position: absolute;
    right: 0;bottom: 420px;
    padding-right: 90px;
    font-size: 40px;
    font-weight: 500;
    color: #250188;
    z-index: 10;
    text-align: right;
}

.ideology{
    width: 100%;
    height: 969px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.ideology::after{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;height: 100%;
    background: black;
    opacity: 0.35;
}
.slide_images{
    width: 100%;
    transform: translateY(0%);    
    transition: all 0.5s ease 0s;
}
.slide_images>li{
    width: 100%;
    height: 969px;
}
.slide_images>li>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flotingTxt2{
    width: 1620px;
    height: 729px;    
    margin: 0 auto;
    color: #999;
    text-align: right;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
}
.flotingTxt2>li>h3{
    font-size: 59px;
    margin-bottom: 10px;
    letter-spacing: -1px;    
}
.flotingTxt2>li>a{
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    padding-right: 70px;
    background: url(../../img/main/logo_etc/viewmore.png) no-repeat 100% 50%;
    background-size: 3.5rem;
}

.businessArea{
    width: 1920px;
    height: 969px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.businessArea>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 500;
    color: #c6a06a;
    position: absolute;
    left: 150px;top: 120px;
    z-index: 20;
}

.sector{
    width: 400%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);    
    transition: all 0.5s ease 0s;
    background: #250188;    
}
.sector>li{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.sector .text{
    width: 390px;
    height: 665px;
    margin-left: 150px;
    position: relative;
}
.text::before{
    content: "";
    position: absolute;
    left: 0;top: 305px;
    width: 20px;
    height: 3px;
    background: #eee;
}
.text>h4{
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 0;top: 390px;
    color: #fff;
}
.text>h3{
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    font-size: 71px;
    position: absolute;
    left: 0;bottom: 78px;
    line-height: 71px;
    color: #fff;
}
.text>p{
    /* border: 1px solid red; */
    font-size: 18px;
    position: absolute;
    left: 0;bottom: 35px;
    color: #fff;
}
.text>a{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 0;bottom: 0;
    padding-right: 40px;
    background: url(../../img/main/logo_etc/viewmore.png) no-repeat 100% 50%;
    color: #999;
}
.sector .images{
    display: flex;
}
.images>img:nth-of-type(1){
    height: 665px;
    width: 500px;
    object-fit: cover;
}
.images>img:nth-of-type(2){
    height: 665px;
    width: 860px;
    object-fit: cover;
    margin-left: 10px;
}

.controler{

    position: absolute;
    left: 140px;top: 270px;
    width: 160px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination{
    position: absolute;
    left: 28%;
    bottom: 120px;
    display: flex;
}
.pagination>li{
    width: 290px;height: 4px;
    font-size: 0;
    margin-right: 6px;
    background: #fff;
    opacity: 0.4;
}
.pagination>li:last-of-type{
    margin-right: 0;
}
.pagination>li.on{opacity: 1;}

.news{
    width: 1620px;
    height: 969px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    position: relative; 
}
.news>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    margin-top: -45px;

}
.news>p{
    font-size: 24px;
    text-align: center;
}
.news>a{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-right: 40px;
    background: url(../../img/main/logo_etc/viewmore.png) no-repeat 100% 50%;
    color: #999;
    margin-top: 15px;
}
.letter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.letter>li{
    width: 375px;
}
.letter>li>img{
    width: 375px;
    height: 375px;
    object-fit: cover;
}
.Ltext{
    width: 100%;
    height: 130px;
    padding-bottom: 15px;
    position: relative;
}
.Ltext::before{
    content: "";
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 2px;
    background: #250188;
}
.Ltext>h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 5px;top: 10px;
}
.Ltext>a{
    font-size: 21px;
    position: absolute;
    left: 5px;top: 43px;
}
.Ltext>p{
    color: #999;
    position: absolute;
    right: 5px;bottom:10px;
    text-align: right;
}


/* footer */
footer{
    border-top:1.5px solid #ddd;
    padding:70px 0;
}
.innerfooter{
    width: 1620px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    font-size: 14px;
}

.f_left{width: 205px;}
.f_middle{
    width: 1210px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.f_middle ul{
    display: flex;
}
.personal{margin-bottom: 40px;}
.f_middle .personal>li{
    padding: 0 20px;
    border-right: 1px solid #999;
    font-weight: 500;    
}
.personal>li:nth-of-type(1){
    padding-left: 0;
}
.personal>li:last-of-type{
    padding-right: 0;
    border-right: none;
}
.personal .green{color: #2af598;}

.f_middle .address>li{
    color: #999;
    padding: 0 20px;
    border-right: 1px solid #999;
}
.address>li:nth-of-type(1){
    padding-left: 0;
}
.address>li:last-of-type{
    padding-right: 0;
    border-right: none;
}
.f_middle>p{
    font-family: 'Poppins', sans-serif;
    color: #999;
    position: absolute;
    left: 0;bottom: 0;
}

.f_right{
    width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.f_right ul{
    display: flex;
    width: 100%;
}
.f_right .site>li{
    width: 50%;
    height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    position: relative;
}
.site>li:nth-of-type(1)>a:after{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    right: 5px;top: 50%;
    transform: translateY(-50%);
    background: url(../../img/main/logo_etc/family_site.png) no-repeat 50% 50%;
}
.site>li:nth-of-type(2)>a{
    padding-left: 20px;
}
.site>li:nth-of-type(2)>a:before{
    content: "";
    position: absolute;
    left: 5px;top: 0;
    width: 1px;
    height: 100%;
    background: #999;
}
.site>li:nth-of-type(2)>a:after{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    right: 0;top: 50%;
    transform: translateY(-50%);

    background: url(../../img/main/logo_etc/site_map.png) no-repeat 50% 50%;
}
.f_right .sns>li{
    /* border: 1px solid green; */
    flex: 1;
}
.f_right .sns>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* 서브페이지 - 1 */
.his_subGnb{
    width: 100%;
    height: 80px;
    background: rgba(255,255, 255,0.75);
    position: fixed;
    left:0; top: 0;
    /* display: none;  */
    z-index: 120;
}
.his_subGnb::after{
    content: "";
    position: absolute;
    left: 0;top: 80px;
    width: 100%;
    height: 1px;
    background: #999;
}
.his_subGnb>ul{
    display: flex;
}
.his_subGnb>ul>li{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 500;
    color: #999;
    margin: 0 18px;
}
span.addButton::after{
    content: "";
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-left: 5px;
    background: url(../../img/sub1/icon/addIcon.png) no-repeat 50% 50%;
    position: absolute;
    right: 0;top: 50%;
    transform: translateY(-45%);
}
/* main */
.hisBanner{
    height: 969px;
    position: relative;    
}
.hisBanner::after{
    content: "";
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);    
}
.hisb_image>img{
    width: 100%;
    height: 969px;
    object-fit: cover;
}
.hisb_text{
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 20;
}
.hisb_text>h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 90px;
    font-weight: 500;
    letter-spacing: 1pt;
    margin-bottom: 15px;
}
.hisb_text>p{
    font-size: 40px;
}

.history_hs{
    width: 100%;
    height: 969px;
    margin: 0 auto;
    position: relative;
}
.history_hs::after{
    content: "";
    width: 950px;
    height: 120px;
    background: #c6a06a;
    position: absolute;
    right: 0;top: 0;
}
.infoHistory{
    /* border: 1px solid green; */
    width: 1680px;
    height: 969px;
    margin: 0 auto;
    display: flex;
}
.infoHistory>div{flex: 1;}
.infoH_left>h2{
    /* border: 1px solid blue; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 80px;
    padding-top: 150px;
    padding-bottom: 68px;
    position: relative;
}
.infoH_left>h2::after{
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 390px;
    height: 3px;
    background: #250188;
}
.infoH_left>h3{
    /* border: 1px solid green; */
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    padding-top: 55px;
    color: #250188;
}
.infoH_left>h4{
    /* border: 1px solid red;  */
    font-size: 24px;
    font-weight: 500;
    padding-top: 25px;
}
.infoH_left>p{
    /* border: 1px solid blue;  */
    font-size: 18px;
    line-height: 32px;
    padding-top: 50px;
    padding-left: 235px;
}
.infoH_right{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    position: relative;
}
.infoH_right>h3{
    /* border: 1px solid orchid; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    position: absolute;
    left: 40px;top: 479px;
    display: inline-block;
    transform: rotate(270deg);
}
.infoHimage{
    /* border: 1px solid orchid; */
    margin-left: 102px;
    margin-top: 470px;
    width: 607px;
    height: 402px;
}
.infoHimage>img{
    width: 607px;
    height: 355px;
    object-fit: cover; 
    object-position: 10% 10%;   
}
.infoHimage>p{
    text-align: center;
    margin-top: 18px;
}

/* 1960 */
.his1960{
    width: 1680px;
    height: 969px;
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
}
.his1960_left{
    width: 240px;
    position: relative;
}
.his1960_left>h3{
    /* border: 1px solid red; */
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    color: #250188;
}
.his1960_left>p{
    /* border: 1px solid red; */
    width: 425px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
    font-weight: 600;
    color: #dfdfdf;
    transform: rotate(270deg);
    position: absolute;
    left: -85px;top: 340px;
}

.his1960_middle{
    width: 590px;
    display: flex;
    margin-right: 115px;
}
.his1960_middle>ul:first-of-type{
    width: 100px;
}
.his1960_middle>ul.year1960>li:first-of-type{
    margin-bottom: 267px;
}
.his1960_middle>ul.year1960>li>h4{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    color: #250188;
}
.his1960_middle>ul>li>dl{display: flex;}
.his1960_middle dt{
    width: 180px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #555;
    padding: 14px 0;
}
.his1960_middle>ul>li:first-of-type>dl>dt{
    padding-top: 0;
}
.his1960_middle dd{
    width: 310px;
    font-size: 18px;
    padding: 14px 0;
    position: relative;
}
.his1960_middle dd li{
    width: 100%;
    margin-bottom: 6px;
    position: relative;
}
.his1960_middle>ul>li:first-of-type>dl>dd{
    padding-top: 0;
}
.his1960_middle dd::after{
    content: "";
    width: 310px; height: 1px;
    position: absolute;
    left: 0;bottom: 0;
    background: #cecece;
}
.his1960_middle>ul>li:last-of-type>dl> dd:after{
    background: none;
}

.his1960_right{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.his1960_right li{
    margin-bottom: 5px;
}
.his1960_right>ul:last-of-type{
    margin-top: 95px;
}
.his1960_right li p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.his1960_right li img{
    width: 285px;
    height: 167px;
    object-fit: cover;
    object-position: 10% 10%;
}

/* 1980 */
.his1980{
    /* border: 1px solid red; */
    width: 1680px;
    height: 969px;
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
    position: relative;
}
.background1980{
    width: 1435px;
    height: 615px;
    background-image: linear-gradient(45deg,#efefef,transparent);
    z-index: -10;
    position: absolute;
    right: 0;top: 50%;
    transform: translateY(-50%);
}
.his1980_left{
    width: 240px;
    /* border: 1px solid green; */
    position: relative;
}
.his1980_left>p{
    /* border: 1px solid red; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
    font-weight: 600;
    color: #dfdfdf;
    transform: rotate(270deg);
    position: absolute;
    right: 20px;top: 195px;
}

.his1980_middle{
    width: 590px;
    display: flex;
    margin-right: 115px;
}
.his1980_middle>h4{
    /* border: 1px solid green; */
    width: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    color: #250188;
}

.his1980_middle>ul>li>dl{display: flex;}
.his1980_middle dt{
    width: 180px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #555;
    padding: 14px 0;
}
.his1980_middle>ul>li:first-of-type>dl>dt{
    padding-top: 0;
}
.his1980_middle dd{
    width: 310px;
    font-size: 18px;
    padding: 13px 0;
    position: relative;
}
.his1980_middle dd li{
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.his1980_middle>ul>li:first-of-type>dl>dd{
    padding-top: 0;
}
.his1980_middle dd::after{
    content: "";
    width: 310px; height: 1px;
    position: absolute;
    left: 0;bottom: 0;
    background: #cecece;
}
.his1980_middle>ul>li:last-of-type>dl> dd:after{
    background: none;
}

.his1980_right{
    width: 610px;
}
.his1980_right>ul{
    margin-top: 20px;
}
.his1980_right li{
    /* border: 1px solid green; */
    width: 285px;
    margin-bottom: 5px;
    transform: translateX(108.5%);
}
.his1980_right>ul>li:last-of-type{
    width: 610px;
    transform: translateX(-2%);
}
.his1980_right li p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.his1980_right>ul>li:last-of-type>p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
}
.his1980_right li img{
    width: 285px;
    height: 167px;
    object-fit: cover;
    object-position: 10% 10%;
}
.his1980_right>ul>li:last-of-type>img{
    width: 609px;
    height: 356px;
    object-fit: cover;
    object-position: 10% 10%;
}

/* 1990 */
.his1990{
    /* border: 1px solid red; */
    width: 1680px;
    height: 969px;
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
    position: relative;
}
.his1990_left{
    width: 240px;
    position: relative;
}
.his1990_left>p{
    /* border: 1px solid red; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
    font-weight: 600;
    color: #dfdfdf;
    transform: rotate(270deg);
    position: absolute;
    right: 20px;top: 195px;
}

.his1990_middle{
    width: 590px;
    display: flex;
    margin-right: 115px;
}
.his1990_middle>h4{
    /* border: 1px solid green; */
    width: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    color: #250188;
}
.his1990_middle>ul>li>dl{display: flex;}
.his1990_middle dt{
    width: 180px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #555;
    padding: 14px 0;
}
.his1990_middle>ul>li:first-of-type>dl>dt{
    padding-top: 0;
}
.his1990_middle dd{
    width: 310px;
    font-size: 18px;
    padding: 14px 0;
    position: relative;
}
.his1990_middle dd li{
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.his1990_middle>ul>li:first-of-type>dl>dd{
    padding-top: 0;
}
.his1990_middle dd::after{
    content: "";
    width: 310px; height: 1px;
    position: absolute;
    left: 0;bottom: 0;
    background: #cecece;
}
.his1990_middle>ul>li:last-of-type>dl> dd:after{
    background: none;
}
/* 
.his1990_right{
    width: 610px;
} */
.his1990_right>ul{
    margin-top: -65px;
}
.his1990_right li{
    /* border: 1px solid green; */
    width: 285px;
    margin-bottom: 5px;
}
.his1990_right>ul>li:nth-of-type(2n){
    margin-left: 100px;
}
.his1990_right>ul>li:nth-of-type(3){
    margin-left: 200px;
}
.his1990_right li p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.his1990_right li img{
    width: 285px;
    height: 167px;
    object-fit: cover;
    object-position: 10% 10%;
}

/* 2000 */
.his2000{
    /* border: 1px solid red; */
    width: 1680px;
    height: 969px;
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
    position: relative;
}
.his2000_left{
    width: 240px;
    position: relative;
}
.his2000_left>p{
    /* border: 1px solid red; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
    font-weight: 600;
    color: #dfdfdf;
    transform: rotate(270deg);
    position: absolute;
    right: 20px;top: 195px;
}

.his2000_middle{
    width: 590px;
    display: flex;
    margin-right: 115px;
}
.his2000_middle>h4{
    /* border: 1px solid green; */
    width: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    color: #250188;
}
.his2000_middle>ul>li>dl{display: flex;}
.his2000_middle dt{
    width: 180px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #555;
    padding: 14px 0;
}
.his2000_middle>ul>li:first-of-type>dl>dt{
    padding-top: 0;
}
.his2000_middle dd{
    width: 310px;
    font-size: 18px;
    padding: 14px 0;
    position: relative;
}
.his2000_middle dd li{
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.his2000_middle>ul>li:first-of-type>dl>dd{
    padding-top: 0;
}
.his2000_middle dd::after{
    content: "";
    width: 310px; height: 1px;
    position: absolute;
    left: 0;bottom: 0;
    background: #cecece;
}
.his2000_middle>ul>li:last-of-type>dl> dd:after{
    background: none;
}

.his2000_right{
    width: 610px;
}
.his2000_right>ul{
    margin-top: -20px;
}
.his2000_right>ul>li:first-of-type{
    width: 610px;
    margin-bottom: 30px;
}
.his2000_right li div{
    /* border: 1px solid green; */
    width: 285px;
    margin-bottom: 5px;
}
.his2000_image{
    width: 610px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.his2000_right li p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.his2000_right li img{
    width: 285px;
    height: 167px;
    object-fit: cover;
    object-position: 10% 10%;
}
.his2000_right>ul>li:first-of-type>p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
}
.his2000_right>ul>li:first-of-type>img{
    width: 609px;
    height: 356px;
    object-fit: cover;
    object-position: 10% 10%;
}

/* 2010- */
.his2010{
    /* border: 1px solid red; */
    width: 1680px;
    height: 969px;
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
    position: relative;
}
.background2010{
    width: 1435px;
    height: 615px;
    background-image: linear-gradient(45deg,transparent,#efefef);
    z-index: -10;
    position: absolute;
    right: 0;top: 50%;
    transform: translateY(-50%);
}
.his2010_left{
    width: 240px;
    /* border: 1px solid green; */
    position: relative;
}
.his2010_left>p{
    /* border: 1px solid red; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
    font-weight: 600;
    color: #dfdfdf;
    transform: rotate(270deg);
    position: absolute;
    right: 20px;top: 195px;
}

.his2010_middle{
    width: 590px;
    display: flex;
    margin-right: 115px;
}
.his2010_middle>h4{
    /* border: 1px solid green; */
    width: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    color: #250188;
}
.his2010_middle>ul>li>dl{display: flex;}
.his2010_middle dt{
    width: 180px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #555;
    padding: 14px 0;
}
.his2010_middle>ul>li:first-of-type>dl>dt{
    padding-top: 0;
}
.his2010_middle dd{
    width: 310px;
    font-size: 18px;
    padding: 14px 0;
    position: relative;
}
.his2010_middle dd li{
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.his2010_middle>ul>li:first-of-type>dl>dd{
    padding-top: 0;
}
.his2010_middle dd::after{
    content: "";
    width: 310px; height: 1px;
    position: absolute;
    left: 0;bottom: 0;
    background: #cecece;
}
.his2010_middle>ul>li:last-of-type>dl> dd:after{
    background: none;
}

.his2010_right{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.his2010_right li{
    margin-bottom: 5px;
}
.his2010_right>ul:first-of-type{
    margin-top: -10px;
}
.his2010_right>ul:last-of-type{
    margin-top: 155px;
}
.his2010_right li p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.his2010_right li img{
    width: 285px;
    height: 167px;
    object-fit: cover;
    object-position: 10% 10%;
}

.hisBanner2{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    position: relative;
}
.hisBanner2::after{
    content: "";
    width: 110px;
    height: 110px;
    background: #c6a06a;
    position: absolute;
    left: 0;bottom: 0;
}
